<div>
    <FluentButton Appearance="Appearance.Stealth" Style="height: 50px;" IconStart="@(new Icons.Regular.Size20.BookTemplate())">Material Definition</FluentButton>
</div>
<div>
    <FluentButton Appearance="Appearance.Stealth" Style="height: 50px;" IconStart="@(new Icons.Regular.Size20.BoxMultipleArrowRight())">Material Loading</FluentButton>
</div>
<div>
    <FluentButton Appearance="Appearance.Stealth" Style="height: 50px;" IconStart="@(new Icons.Regular.Size20.Settings())">Options</FluentButton>
</div>
<div>
    <FluentButton Appearance="Appearance.Stealth" Style="height: 50px;" IconStart="@(new Icons.Regular.Size20.VehicleTruck())">Vehicles</FluentButton>
</div>
